@model string

<h1>Welcome to @Model</h1>
<p style="color: black; font-weight: 900; text-shadow: white 20px 20px 50px; " >
    <strong>
        <a href="https://www.google.com/"> @Model </a> is an Indian chain of bookstores in Mumbai. As of today, <a href="https://www.google.com/">@Model </a> has stores in Ahmedabad, Bhopal, Bengaluru, Chennai, Delhi, Gandhinagar, Goa, Hyderabad, Indore,
        Jaipur, Kochi, Kohima, Kolkata, Kanpur, Kozhikode, Lucknow, Mangalore, Mumbai, Thane, Navi Mumbai, Noida, Kalyan, Nagpur, Nashik, Pune, Raipur, Ranchi, Siliguri, Surat, Thiruvananthapuram,
        Udaipur, and Vadodara. <a href="https://www.google.com/"> @Model </a> also founded and sponsors the <a href="https://www.google.com/">@Model </a> Book Award.
    </strong>
</p>
<p>
    <a href="#" class="btn btn-primary my-2">Search books</a>
</p>